<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @restaurant.nome %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @restaurant.numero %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
